/* Base styles for the App */
.App {
  position: relative; /* Essential for containing absolute children */
  text-align: center;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items along the cross axis */
  justify-content: center; /* Center items along the main axis */
}

.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: #282c34;
  color: white;
}

.ThemeButton {
  position: absolute;
  top: 20px; /* 20px from the top of the container */
  left: 20px; /* 20px from the left of the container */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


