:root {
  --background-color: #181a1b;
  --alt-background-color: #1b1e1f;
  --text-color: #dadada;
  --border-color: #404854;
  --message-background-color: #0d1117;
  --message-eco-kill: green;
  --message-light-buy-kill: yellow;
  --shadow: rgba(255, 255, 255, 0.1);
  /* Subtle white shadow for dark theme */
  --progress-bar-color: #21262d;
}

:root.light-theme {
  --background-color: #ffffff;
  --alt-background-color: #e0e0e0;
  --text-color: #1f1f1f;
  --border-color: #cccccc;
  --message-background-color: #afb1b4;
  --message-eco-kill: rgb(0, 102, 0);
  --message-light-buy-kill: rgb(124, 124, 0);
  --shadow: rgba(0, 0, 0, 0.15);
  --progress-bar-color: #cdcdcd;
}

/* Ensure the root html and body tags take up full viewport height */
html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* background-color: var(--background-color);
  color: var(--text-color); */
  overflow-x: hidden;
  /* Prevents horizontal scrollbar */
}

.App {
  margin-top: 10px;
  text-align: center;
  /* background-color: var(--background-color);
  color: var(--text-color); */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust based on your spacing needs */
  color: white;
}

.nav-menu {
  cursor: pointer;
  /* additional styling for your menu icon */
}

.settings {
  cursor: pointer;
  /* additional styling for your settings icon */
}